pandas
numpy
scipy
gym
torch
keras
pillow
pyts
tensorflow
scikit-learn
diskcache
torchvision
matplotlib
stable_baselines3
wandb
mpu
sb3_contrib
freqtrade==2022.6
git+https://github.com/raphant/lazyft.git#egg=lazyft